﻿@model VehicleReservation.ViewModels.VehicleViewModel

@{
    ViewBag.Title = "Add Vehicle";
    Layout = null;
}

@section Jscripts{
<script type="text/javascript">
    $(document).ready(function () {
        $('#VehicleType').on('change', function () {
            if (this.value == 'Office')

            {
                $("#DriverHide").show();
                $("#DriverShow").hide();

            }
            else {
                $("#DriverHide").hide();
                $("#DriverShow").show();

            }
        });
    });

    </script>
    
    }

<div class="row">
    <div class="col-md-12 ">
        
    </div>
</div>
<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
        </div>

        <div class="panel-body">

            <form id="vehicle_form">
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => Model.ModifiedBy)

                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-group control-label">
                                <label>
                                    Vehicle Make
                                </label>
                            </div>
                            <div>
                                @Html.EditorFor(model => model.VehicleMake, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @required = "required" } })
                                @*@Html.ValidationMessageFor(model => model.VehicleMake, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-group control-label">
                                <label>
                                    Plate Number
                                </label>
                            </div>
                            <div>
                                @Html.EditorFor(model => model.PlateNumber, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @required = "required" } })
                                @*@Html.ValidationMessageFor(model => model.PlateNumber, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-group control-label">
                                <label>
                                    Coding Day
                                </label>
                            </div>
                            <div>
                                @Html.DropDownListFor(a => a.CodingDay, new SelectList(
                                         new List<Object>
                                         {
                                             new {value = 1, text = "Monday" },
                                             new {value = 2, text = "Tuesday" },
                                             new {value = 3, text = "Wednesday" },
                                             new {value = 4, text = "Thursday" },
                                             new {value = 5, text = "Friday" },
                                         },
                                         "value", "text", 1
                                        ),
                                        new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CodingDay, "", new { @class = "text-danger", @autocomplete = "off", @required = "required" })
                            </div>
                        </div>
                    </div>
                </div>


                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Location
                                        </label>
                                    </div>
                                    <div>
                                        @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off",@required="required" } })
                                        @*@Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Vehicle Type
                                        </label>
                                    </div>
                                    <div>
                                        @Html.DropDownListFor(a => a.VehicleType, new SelectList(
                                         new List<Object>
                                            {
                                            new {value = "1", text = "Van (15-18 ppl)" },
                                            new {value = "2", text = "SUV (max of 7 ppl)" },
                                            new {value = "3", text = "Sedan (max of 4 ppl)" }
                                            },
                                            "value", "text", 1
                                            ),
                                        new { @class = "form-control", @id = "VehicleType" })
                                        @Html.ValidationMessageFor(model => model.VehicleType, "", new { @class = "text-danger", @autocomplete = "off" })


                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4" id="DriverShow" style="display: none;">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Driver
                                        </label>
                                    </div>
                                    <div>
                                        @Html.DropDownList("DriverID", null, "Select Driver", htmlAttributes: new { @class = "form-control", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.DriverID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="DriverHide">
                            @Html.HiddenFor(model => model.DriverID)
                        </div>
            </form>

        </div>
    </div>
</div>





