﻿@model  VehicleReservation.ViewModels.VehicleViewModel
@{
    ViewBag.Title = "Details";
    Layout = null;
}

<div class="row">
    <div class="col-md-12 ">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                </div>

                <div class="panel-body">

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group control-label">
                                    <label>
                                        Vehicle Make
                                    </label>
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.VehicleMake, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group control-label">
                                    <label>
                                        Plate Number
                                    </label>
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.PlateNumber, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group control-label">
                                    <label>
                                        Coding Day
                                    </label>
                                </div>
                                @*<div>*@
                                @*@if (Model.CodingDay == 1)
                                {
                                    <div>Monday</div>
                                }

                                @if (Model.CodingDay == 2)
                                {
                                    <div>Tuesday</div>
                                }

                                @if (Model.CodingDay == 3)
                                {
                                    <div>Wednesday</div>
                                }

                                @if (Model.CodingDay == 4)
                                {
                                    <div>Thursday</div>
                                }

                                @if (Model.CodingDay == 5)
                                {
                                    <div>Friday</div>
                                }*@
                                @Model.CodingDayText 
                                @*@Html.DisplayFor(model => model.CodingDayText, new { htmlAttributes = new { @class = "form-control" } })*@
                                @*</div>*@
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group control-label">
                                    <label>
                                        Location
                                    </label>
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Location, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" style="width:300px;">
                            <div class="form-group">
                                <div class="form-group control-label">
                                    <label>
                                        Vehicle Type
                                    </label>
                                </div>
                                   @if (Model.VehicleTypeID == 1)
                                   {
                                        <div>Van (15-18 ppl)</div>;
                                   }
                                    @if (Model.VehicleTypeID == 2)
                                    {
                                        <div>SUV (max of 7 ppl)</div>
                                    }

                                    @if (Model.VehicleTypeID == 3)
                                    {
                                        <div>Sedan (max of 4 ppl)</div>
                                    }

                                
                            </div>
                        </div>

                        <div class="col-md-4" style="display:none">
                            <div class="form-group">
                                <div class="form-group control-label">
                                    <label>
                                        Driver
                                    </label>
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "DriverID" } })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="display:none">
                        <div class="col-sm-12">
                            @Html.ActionLink("Back To List", "List", null, new { @class = "btn btn-primary btn-large" })


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>