﻿@model  VehicleReservation.ViewModels.VehicleViewModel
@{
    ViewBag.Title = "Edit Vehicle";

    /*   List<SelectListItem> TypeList = new List<SelectListItem>();
       TypeList.Add(new SelectListItem
       {
           Text = "Office",
           Value = "Office"
       });
       TypeList.Add(new SelectListItem
       {
           Text = "Vendor",
           Value = "Vendor",

       });

       List<SelectListItem> StatusList = new List<SelectListItem>();
       StatusList.Add(new SelectListItem
       {
           Text = "Vacant",
           Value = "Vacant"
       });
       StatusList.Add(new SelectListItem
       {
           Text = "Reserved",
           Value = "Reserved",

       });
   */

}


    @section JScripts
    {

        @*<script>
        $("#Type").on("change", function () {
            if ($("#Type option:selected").val() == "Vendor") {
                $("#DriverID").hide();

            } else {
                $("#DriverID").show();
            }
        });
    </script>*@
        <script type="text/javascript">

            $(function () {

                $('#DriverID').val('@Model.DriverID').trigger('change')

            });
        </script>
    }





<div class="row">
    <div class="col-md-12 ">
        <div class="panel" style="margin-top:3%; margin-bottom: 5%;">
            <div class="panel-heading">
                <div class="panel-title">
                </div>

                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.VehicleID)
                        @Html.HiddenFor(model => model.DateRegistered)
                        @Html.HiddenFor(model => model.IsActive)
                        @Html.HiddenFor(model => model.IsReserved)
                        @Html.HiddenFor(model => model.VehicleType)


                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Vehicle Make
                                        </label>
                                    </div>
                                    <div>
                                        @Html.EditorFor(model => model.VehicleMake, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.VehicleMake, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Plate Number
                                        </label>
                                    </div>
                                    <div>
                                        @Html.EditorFor(model => model.PlateNumber, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.PlateNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Coding Day
                                        </label>
                                    </div>
                                    <div>
                                        @Html.DropDownListFor(a => a.CodingDay, new SelectList(
                                         new List<Object>
                                         {
                                             new {value = 1, text = "Monday" },
                                             new {value = 2, text = "Tuesday" },
                                             new {value = 3, text = "Wednesday" },
                                             new {value = 4, text = "Thursday" },
                                             new {value = 5, text = "Friday" },
                                         },
                                         "value", "text"
                                        ),
                                        new { @class = "form-control", @id = "CodingDay" })
                                        @Html.ValidationMessageFor(model => model.CodingDay, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Location
                                        </label>
                                    </div>
                                    <div>
                                        @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control datepicker", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

@if (Model.DriverID > 0)
{ 
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Driver
                                        </label>
                                    </div>
                                    <div>
                                        @Html.DropDownList("DriverID", null, "", htmlAttributes: new { @class = "form-control", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.DriverID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
}
@if (Model.DriverID == 0)
{
    @Html.HiddenFor(model => model.DriverID)

}
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="submit" value="Save" class="btn btn-success" /> |
                                @Html.ActionLink("Back To List", "List", null, new { @class = "btn btn-primary btn-large" })


                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
