﻿@model VehicleReservation.ViewModels.VehicleListVM


@{
    ViewBag.Title = "List of Vehicles";
}

<div class="row">
    <div class="modal fade" data-backdrop="static" id="vehicle_add" tabindex="-1" role="dialog" aria-labelledby="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modallabel">Add Vehicle</h4>
                </div>
                <div class="modal-body" id="vehicle_load">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnSave"><span class="glyphicon glyphicon-floppy-disk"></span>Save</button>
                    <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        @*<p style="text-align: right;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Add Vehicle
            </button>
        </p>*@
        <p style="text-align: right;">
            @*@Html.ActionLink("Add Vehicle", "Add", null, new { @class = "btn btn-primary btn-large" })*@
            <input type="button" class="btn btn-primary" value="Add Vehicle" id="btnAdd" />
        </p>

        <div class="panel" style="margin-top:3%; margin-bottom: 5%;">
            <div class="panel-heading">
                <div class="panel-title">
                </div>

                <div class="panel-body">
                    @if (ViewBag.Message != "")
                    {
                        <div class="text-danger">@ViewBag.Message</div>
                    }
                    <div class="table-responsive col-sm-12" style="overflow-y: scroll;">
                        <table class="table">
                            <tr>

                                @*<th>
                                    Type
                                </th>*@
                                <th>
                                    Vehicle Make
                                </th>
                                <th>
                                    Plate Number
                                </th>
                                @*<th>
                                    Coding Day
                                </th>*@
                                <th>
                                    Vehicle Type
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>

                            @foreach (var item in Model.Vehicles)
                            {
                                <tr>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.VehicleType)
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VehicleMake)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.PlateNumber)
                                    </td>
 @*                                 <td>
                                        @if (item.CodingDay == 1)
                                        {
                                            <div>Monday</div>
                                        }

                                        @if (item.CodingDay == 2)
                                        {
                                            <div>Tuesday</div>
                                        }

                                        @if (item.CodingDay == 3)
                                        {
                                            <div>Wednesday</div>
                                        }

                                        @if (item.CodingDay == 4)
                                        {
                                            <div>Thursday</div>
                                        }

                                        @if (item.CodingDay == 5)
                                        {
                                            <div>Friday</div>
                                        }
                                    </td>*@
                                    <!----DRIVER------>
                                    @if (item.VehicleTypeID == 1)
                                    {
                                        <td>
                                            Van 15-18 PAX
                                        </td>
                                    }
                                    @if (item.VehicleTypeID == 2)
                                    {
                                        <td>
                                            SUV (max of 7 ppl)
                                        </td>
                                    }
                                    @if (item.VehicleTypeID == 3)
                                    {
                                        <td>
                                            Sedan (max of 4 ppl)
                                        </td>
                                    }
                                    <!----STATUS------>
                                    @*@if (DateTime.Now <= item.StartDateTime && DateTime.Now >= item.EndDateTime )*@
                                    @if ((item.IsActive == false) && (item.IsReserved == false ))
                                    {
                                        <td>
                                            Available
                                        </td>
                                    }
                                    @*@if (DateTime.Now >= item.StartDateTime && DateTime.Now <= item.EndDateTime)*@
                                   @if ((item.IsReserved == true) && (item.IsActive == false))
                                    {
                                        <td>
                                            Reserved
                                        </td>
                                    }

                                    @if ((item.IsActive == true) && (item.IsReserved == true))
                                    {
                                        <td>
                                            Active
                                        </td>
                                    }
                                    <td>
                                        <a href="javascript:void(0);" class="edit" vehicle_id="@item.VehicleID">Edit</a> |
                                        <a href="javascript:void(0);" class="details" vehicle_id="@item.VehicleID">Details</a>
                                    </td>
                                </tr>
                            }

                        </table>

                    </div>
                </div>

            </div>
        </div>

        <!-- Button trigger modal -->


    </div>

    <!-- Modal -->
    @*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add A Vehicle</h4>
                    </div>
                    <div class="modal-body">
                        Choose Vehicle Type:
                        <br />
                        @Html.ActionLink("Office Type", "AddOfficeType", null, new { @class = "btn btn-default btn-large" })
                        @Html.ActionLink("Vendor Type", "AddVendorType", null, new { @class = "btn btn-primary btn-large" })
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>*@

    <script>
        var edit = false;
        var edit_id = "";
        $(function () {
            $("#btnAdd").click(function () {
                $("#vehicle_load").load('/Vehicle/Add', function () {
                    $("#vehicle_add").modal('show');
                    $("#btnSave").show();
                    $("#modallabel").text("Add Vehicle");
                });
            });

            $(document).on('click', '.edit', function () {
                var vehicle_id = $(this).attr('vehicle_id');
                edit = true;
                edit_id = vehicle_id;
                $.ajax({
                    url:"/Vehicle/vehicle_details/" + vehicle_id,
                    type:"POST",
                    success: function (data) {
                        $("#vehicle_load").load('/Vehicle/Add', function () {
                            $("#VehicleMake").val(data.VehicleMake),
                            $("#PlateNumber").val(data.PlateNumber),
                            $("#CodingDay").val(data.CodingDay),
                            $("#Location").val(data.Location),
                            $("#VehicleType").val(data.VehicleTypeID)
                            $("#modallabel").text("Edit Vehicle");
                            $("#btnSave").show();
                            $("#vehicle_add").modal('show');
                        });
                    },
                    dataType:'json'
                })
            })

            $(document).on('click', '.details', function () {
                var vehicle_id = $(this).attr("vehicle_id");
                $("#vehicle_load").load('/Vehicle/Details/' + vehicle_id, function () {
                    $("#vehicle_add").modal('show');
                    $("#modallabel").text("Vehicle Details");
                    $("#btnSave").hide();
                });
            })

            $("#btnSave").click(function () {
                var url = "";
                if (!edit) {
                    url = "/Vehicle/add_vehicle";
                }
                else
                {
                    url = "/Vehicle/edit_vehicle/" + edit_id
                }

                if ($("#vehicle_form").validate_form()) {
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            vehicle_make: $("#VehicleMake").val(),
                            plate_number: $("#PlateNumber").val(),
                            coding_day: $("#CodingDay option:selected").val(),
                            location: $("#Location").val(),
                            vehicle_type_id: $("#VehicleType option:selected").val()
                        },
                        success: function () {
                            window.location = document.URL;
                        }
                    })
                }
            })

            $("#btnClose").click(function () {
                $(".error").remove();
                edit = false;
            });

            $(".close").click(function () {
                edit = false;
            })
        });

        $.fn.validate_form = function () {
            var validate = true;
            var elem = $(this);
            elem.find(':input[type=text]').each(function () {
                if (typeof $(this).attr('required') !== 'undefined') {
                    if ($(this).val() == "") {
                        var id = $(this).attr('id') + "_error";
                        $("#" + id).remove();
                        $(this).parent().append("<span id='" + $(this).attr('id') + "_error' class='error' style='color:#A94442'>Required</span>");
                        validate = false;
                    }
                    else {
                        var id = $(this).attr('id') + "_error";
                        $("#" + id).remove();
                    }
                }
            })

            return validate;
        }
    </script>



</div>
