﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<style>
    .form-row{
        margin-right:10px;
        float:left;
    }
</style>

<div class="row">

    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
            </div>

            <div class="panel-body">

                <form id="form_driver">

                    <div class="form-row">
                        <div class="form-group">
                            <div class="form-group control-label">
                                <label>
                                    Driver
                                </label>
                            </div>
                            <div>
                                <input type="text" placeholder="Driver" class="form-control" id="driver" style="width:235px;" required/>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <div class="form-group control-label">
                                <label>
                                    Mobile Number
                                </label>
                            </div>
                            <div>
                                <input type="text" class="form-control" id="mobile" placeholder="Mobile Number" style="width:235px;" required/>
                            </div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group">
                            <div class="form-group control-label">
                                <label>
                                    Driver's License No.
                                </label>
                            </div>
                            <div>
                                <input type="text" class="form-control" placeholder="Driver's License No." id="license_no" style="width:235px;" required/>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <div class="form-group control-label">
                                <label>
                                    License Expiry Date
                                </label>
                            </div>
                            <div>
                                <input type="text" class="form-control" placeholder="Expiry Date" id="expiry_date" style="width:235px;" required/>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>







</div>
