﻿@model VehicleReservation.ViewModels.DriverViewModel
@{
    ViewBag.Title = "Add Driver";
}

@section Jscripts{

    @*<script type="text/javascript">
            $(function () {
                $("#LicenseExpiry").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: "yy-MM-dd"

                }
                ).datepicker("setDate", new DateTime());
            });
        </script>

        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker').datetimepicker({
                format: 'L',
                minDate: moment(),
                ignoreReadonly: true

                //useCurrent: true
            });
        });


        $(function () {
            $('#iDrivers').select2().change(function () {
                buid = ($(this).find(':selected').data('buid'));
                buname = ($(this).find(':selected').data('buname'));
                name = ($(this).find(':selected').data('name'));


                $("#BusinessUnitID").val(buid);
                $("#BusinessUnit").val(buname);
                $("#Name").val(name);

            });
            @*$('.select-box').select2({
                ajax: {
                    url: '@Url.Action("GetUsers", "Driver")',
                    datatype: 'json',
                    success: function (data) {
                        var mapping = $.map(data, function (obj) {
                            obj.id = obj.id || obj.UserID;
                            obj.text = obj.text || obj.Name;

                            return obj;

                        });
                    }
                }
            });*@
        });


    </script>

}

<div class="row">
    <div class="col-md-12 ">
        <div class="panel" style="margin-top:3%; margin-bottom: 5%;">
            <div class="panel-heading">
                <div class="panel-title">
                </div>

                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Driver
                                        </label>
                                    </div>

                                    <select id="iDrivers" name="UserID" style="width: 100%">
                                        @foreach (var item in Model.Users)
                                        {

                                            <option value="@item.UserID" data-buid="@item.BusinessUnitID" data-buname="@item.BusinessUnit"
                                                    data-name="@item.Name">
                                                @item.Name
                                            </option>

                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => Model.ModifiedBy)
                                    @Html.HiddenFor(model => Model.BusinessUnitID, new { @id = "BusinessUnitID" })
                                    @Html.HiddenFor(model => Model.Name, new { @id = "Name" })

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group control-label ">
                                        <label>
                                            Business Unit
                                        </label>
                                    </div>
                                    <div>
                                        @Html.EditorFor(model => model.BusinessUnit, new { htmlAttributes = new { @class = "form-control", @type = "text", @autocomplete = "off" , @id = "BusinessUnit", @readonly = "true"} })
                                        @Html.ValidationMessageFor(model => model.BusinessUnit, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Mobile Number
                                        </label>
                                    </div>
                                    <div>
                                        @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                                        @*<div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="form-group control-label">
                                                        <label>
                                                            Last Name
                                                        </label>
                                                    </div>
                                                    <div>
                                                        @Html.EditorFor(model => model.DriverLastName, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                        @Html.ValidationMessageFor(model => model.DriverLastName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="form-group control-label">
                                                        <label>
                                                            First Name
                                                        </label>
                                                    </div>
                                                    <div>
                                                        @Html.EditorFor(model => model.DriverFirstName, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                        @Html.ValidationMessageFor(model => model.DriverFirstName, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="form-group control-label ">
                                                        <label>
                                                            Business Unit ID
                                                        </label>
                                                    </div>
                                                    <div>
                                                        @Html.EditorFor(model => model.BusinessUnit, new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "width:50%", @autocomplete = "off" } })
                                                        @Html.ValidationMessageFor(model => model.BusinessUnit, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>*@


                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="form-group control-label">
                                                        <label>
                                                            Driver's License No.
                                                        </label>
                                                    </div>
                                                    <div>
                                                        @Html.EditorFor(model => model.DriverLicense, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                        @Html.ValidationMessageFor(model => model.DriverLicense, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="form-group control-label">
                                                        <label>
                                                            License Expiry Date
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <div class="form-group">
                                                            <div class="input-group date" id="datetimepicker">
                                                                @Html.EditorFor(model => model.LicenseExpiry, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                                                                <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </span>
                                                            </div>
                                                            @Html.ValidationMessageFor(model => model.LicenseExpiry, "", new { @class = "text-danger" })

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="submit" value="Save" class="btn btn-success" />
                                                @Html.ActionLink("Back To List", "List", null, new { @class = "btn btn-primary btn-large" })


                                            </div>
                                        </div>
                    }

                </div>
            </div>

        </div>

    </div>




</div>

