﻿@model VehicleReservation.ViewModels.DriverViewModel
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-12 ">
        <div class="panel" style="margin-top:3%; margin-bottom: 5%;">
            <div class="panel-heading">
                <div class="panel-title">
                </div>

                <div class="panel-body">

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group control-label">
                                    <label>
                                       Name
                                    </label>
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group control-label ">
                                    <label>
                                        Business Unit 
                                    </label>
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.BusinessUnit, new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "width:50%" } })
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group control-label">
                                    <label>
                                        Mobile Number
                                    </label>
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group control-label">
                                    <label>
                                        Driver's License No.
                                    </label>
                                </div>
                                <div>
                                    @Html.DisplayFor(model => model.DriverLicense, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group control-label">
                                    <label>
                                        License Expiry Date
                                    </label>
                                </div>
                                <div>
                                    @*@Html.DisplayFor(model =>  model.LicenseExpiry, new { htmlAttributes = new { @class = "form-control" } })*@
                                   @Model.LicenseExpiry.Value.ToShortDateString()
                                 </div>
                            </div>
                        </div>
                    </div>
                    @Html.ActionLink("Back To List", "List", null, new { @class = "btn btn-primary btn-large" })


                </div>
            </div>

        </div>




    </div>

</div>
