﻿@model  VehicleReservation.ViewModels.DriverListVM
@{
    ViewBag.Title = "List of Authorized Drivers";
}
<div class="modal fade" data-backdrop="static" id="driver_add" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document" style="width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modallabel">Add Driver</h4>
            </div>
            <div class="modal-body" id="driver_load">

            </div>
            <div class="modal-footer"><button type="button" class="btn btn-success" id="btnSave"><span class="glyphicon glyphicon-floppy-disk"></span>Save</button>
                <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="driver_dialog" style="display:none;" title="Add Driver"></div>

<div class="row">
    <div class="col-md-12 ">
        <p style="text-align: right;">
            @*@Html.ActionLink("Add New Driver", "Add", null, new { @class = "btn btn-primary btn-large" })*@
            <input type="button" value="Add New Driver" class="btn btn-primary btn-large" id="btnAdd"/>
        </p>
            <div class="panel" style="height:600px;">
                <div class="panel-heading">
                    <div class="panel-title">
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive col-sm-12" style="overflow-y: auto;height:500px;">
                            <table class="table">
                                <tr>
                                    <th>
                                        Name
                                    </th>

                                    <th>
                                        Driver's License No.
                                    </th>

                                    <th>
                                        Mobile Number
                                    </th>

                                    <th>
                                        Expiry Date
                                    </th>

                                    <th>
                                        Actions
                                    </th>

                                </tr>

                                @foreach (var item in Model.Drivers)
                                {

                                    <tr>
                                        <td>
                                            @item.Name
                                        </td>

                                        <td>
                                           @item.DriverLicense
                                        </td>
                                        <td>
                                           @item.MobileNumber
                                        </td>

                                        <td>
                                            @*@Html.DisplayFor(modelItem => )*@
                                            @DateTime.Parse(item.LicenseExpiry.ToString()).ToShortDateString()
                                        </td>

                                        <td>
                                            <a href="javascript:void(0);" class="edit" driver_id="@item.DriverID"> Edit</a> |
                                            <a href="javascript:void(0);" class="details" driver_id="@item.DriverID"> Details</a> 
                                        </td>
                                    </tr>
                                    }

                            </table>

                        </div>
                    </div>

                </div>
            </div>
    </div>




</div>

<script>
    $(function () {
        var edit = false;
        var edit_id = "";

        $("#btnAdd").click(function () {
            
            //$("#driver_dialog").dialog('open');
            $("#driver_load").load('/Driver/_Add/', _add);
        });

        function _add() {
            $("#expiry_date").datepicker().attr('readonly', 'readonly').css('background', '#fff');
            $('#driver_add').modal('show');
            $("#btnSave").show();
            $("#modallabel").text("Add Driver");
        }

        function _edit(_data) {
            console.log(_data);
            
        }


        $(document).on('click', '.edit', function () {
            edit = true;
            var driver_id = $(this).attr('driver_id');
            
            $('#btnSave').show();
            $.ajax({
                url: "/driver/driver_details",
                type: "POST",
                data: {
                    driver_id: driver_id
                },
                success: function (data) {
                    var _data = data;
                    $("#driver_load").load('/Driver/_Add/', function () {
                        $("#expiry_date").datepicker().attr('readonly', 'readonly').css('background', '#fff');
                        $("#driver").val(_data.Name);
                        $("#mobile").val(_data.MobileNumber);
                        $("#license_no").val(_data.DriverLicense);
                        $("#expiry_date").val($.datepicker.formatDate('mm/dd/yy', parseJsonDate(_data.LicenseExpiry)));
                        $("#driver_add").modal('show');
                        edit_id = driver_id;
                        $("#modallabel").text("Edit Driver");
                    });
                   
                },
                dataType: 'json'
            });
        });

        $(document).on('click', '.details', function () {
            var driver_id = $(this).attr('driver_id');
            $("#driver_load").load('/Driver/driver_view/' + driver_id, function () {
               
                $("#driver_add").modal('show');
                $("#btnSave").hide();
                $("#modallabel").text("Driver Details");
            });
            
        })


        $("#btnSave").click(function () {
            var url = "/driver/add_driver";

            if (edit) {
                url = "/driver/edit_driver/" + edit_id;
            }
            if ($("#form_driver").validate_form()) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        driver_name: $("#driver").val(),
                        mobile: $("#mobile").val(),
                        license_no: $("#license_no").val(),
                        expiry_date: $("#expiry_date").val()
                    },
                    success: function (data) {
                        window.location = document.URL;
                    },
                    dataType: 'json'
                })
            }
        });

        $("#btnClose").click(function () {
            $(".error").remove();
            edit = false;
        });

        $(".close").click(function () {
            edit = false;
        })

    });

    $.fn.validate_form = function () {
        var validate = true;
        var elem = $(this);
        elem.find(':input[type=text]').each(function(){
            if (typeof $(this).attr('required') !== 'undefined') {
                if ($(this).val() == "") {
                    var id = $(this).attr('id') + "_error";
                    $("#" + id).remove();
                    $(this).parent().append("<span id='" + $(this).attr('id') + "_error' class='error' style='color:#A94442'>Required</span>");
                    validate = false;
                }
                else
                {
                    var id = $(this).attr('id') + "_error";
                    $("#" + id).remove();
                }
            }
        })

        return validate;
    }

    function parseJsonDate(date) {
        return new Date(parseInt(date.replace('/Date(', '').replace(')/', '')));
    }
</script>



