﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*   @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Client Scripts/mvcfoolproof.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/select2.full.min.js"></script> 

    <link rel="stylesheet" href="~/Content/select2.min.css" />
    <link rel="stylesheet" href="~/Content/fullcalendar.css"/>
    <link rel="stylesheet" href="~/Content/jquery-ui.css"/>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />



    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />
    @*<link rel="stylesheet" href="~/Content/fullcalendar.css" />*@
    @*<link rel="stylesheet" href="~/Content/jquery-ui.css" />*@

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/Content/ionicons.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    <link rel="stylesheet" href="~/Content/AdminLTE.css" />
    <link rel="stylesheet" href="~/Content/skin-blue.css" />
    <script src="~/Content/adminlte.js"></script>

        @*<link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />*@

    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">*@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">*@
    @*<script src="~/Content/jquery.js"></script>*@


    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
    @*<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>*@

    @*<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>*@
    <script type='text/javascript'>
        //Define your scripts
        $(function () {
            //When an <li> element in your myMenu area is clicked
            $('#mymenu li').click(function () {
                //Removes the active class from any <li> elements
                $('li.active').removeClass('active');
                //Adds it to the current element
                $(this).addClass('active');

            });
        });
    </script>


    <style>
        .modal-content {
            width: 600px !important;
            margin: 30px auto !important;
        }   
    </style>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    @*  <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                     </div>
                </div>
            </div>
    *@

    @*   <div class="sidenav">
            <a href="#">RESERVE</a>
            <hr />
            <h2>ADMIN</h2>
            <a href="#">List of Vehicles</a>
            <a href="#">List of Authorized Drivers</a>
            <a herf="#">Record</a>
        </div>

        <div class="main">
    *@
    @* <div class="container body-content">
    *@
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                @*<span class="logo-mini"><b>A</b>LT</span>*@
                <!-- logo for regular state and mobile devices -->
                @*<span class="logo-lg"><b>Admin</b></span>*@
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>                
                    @*<p style="font-size: 20px; text-align: center; line-height: 2; color: white; font-weight:700;">
                        
                            @ViewBag.Title
                       
                    </p>*@
              
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">


                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        @*<li class="dropdown messages-menu">
                    <!-- Menu toggle button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">4</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 4 messages</li>
                        <li>
                            <!-- inner menu: contains the messages -->
                            <ul class="menu">
                                <li>
                                    <!-- start message -->
                                    <a href="#">
                                        <div class="pull-left">
                                            <!-- User Image -->
                                            <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <!-- Message title and timestamp -->
                                        <h4>
                                            Support Team
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <!-- The message -->
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <!-- end message -->
                            </ul>
                            <!-- /.menu -->
                        </li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li>*@
                        <!-- /.messages-menu -->
                        <!-- Notifications Menu -->
                        @*<li class="dropdown notifications-menu">
                    <!-- Menu toggle button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">10</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 10 notifications</li>
                        <li>
                            <!-- Inner Menu: contains the notifications -->
                            <ul class="menu">
                                <li>
                                    <!-- start notification -->
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li>
                                <!-- end notification -->
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>*@
                        <!-- Tasks Menu -->
                        @*<li class="dropdown tasks-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">9</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 9 tasks</li>
                        <li>
                            <!-- Inner menu: contains the tasks -->
                            <ul class="menu">
                                <li>
                                    <!-- Task item -->
                                    <a href="#">
                                        <!-- Task title and progress text -->
                                        <h3>
                                            Design some buttons
                                            <small class="pull-right">20%</small>
                                        </h3>
                                        <!-- The progress bar -->
                                        <div class="progress xs">
                                            <!-- Change the css width attribute to simulate progress -->
                                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- end task item -->
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">View all tasks</a>
                        </li>
                    </ul>
                </li>*@
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                @*<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">*@
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                @*<span class="hidden-xs">Alexander Pierce</span>*@
                                <span class="hidden-xs">Admin</span>

                            </a>

                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>

                    @*<ul class="dropdown-menu">*@
                    @*<!-- The user image in the menu -->
                    <li class="user-header">
                        <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                        <p>
                            Alexander Pierce - Web Developer
                            <small>Member since Nov. 2012</small>
                        </p>
                    </li>
                    <!-- Menu Body -->
                    <li class="user-body">
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <a href="#">Followers</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Sales</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Friends</a>
                            </div>
                        </div>
                        <!-- /.row -->
                    </li>
              <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right">
                            <a href="#" class="btn btn-default btn-flat">Sign out</a>
                        </div>
                    </li>
                </ul>
            </li>*@
                    <!-- Control Sidebar Toggle Button -->
                    @*<li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>*@

                </div>
            </nav>
        </header>
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                @*  <div class="user-panel">
                        <div class="pull-left image">
                            <i class="fa fa-user-circle" style="color: #b8c7ce; font-size:20px;"></i>
                        </div>
                        <div class="pull-left info">
                            <p>Admin</p>
                            <!-- Status -->
                           <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
                        </div>
                    </div>
                *@
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree" id="mymenu">
                    @*<li class="header">ADMIN PANEL</li>*@                  
                  @*<i class="fa fa-calendar"></i><span>@Html.ActionLink("CALENDAR", "Calendar", "Reservation", new { area = "Reservation" }, null)</span>*@                     
                    <li>
                        <a href="~/Reservation/Calendar">
                            <i class="fa fa-calendar"></i>
                            <span>CALENDAR</span>
                        </a>
                    </li>    
                    <!-- Optionally, you can add icons to the links -->
                    @*<li><a href="~/Calendar/Calendar.cshtml"><i class="fa fa-link"></i> <span>CALENDAR</span></a></li>*@
                    <li>
                        <a href="~/Driver/List">

                            <i class="fa fa-user-plus"></i> <span>DRIVERS</span>
                            
                        </a>
                        @*<ul class="treeview-menu">
                            <li><a href="#">@Html.ActionLink("LIST", "List", "Driver", new { area = "Driver" }, null) </a></li>
                            <li><a href="#">@Html.ActionLink("ADD", "Add", "Driver", new { area = "Driver" }, null)</a></li>
                        </ul>*@
                    </li>

                    <li>
                        <a href="~/Vehicle/List">
                            <i class="fa fa-car"></i> <span>VEHICLES</span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="#">
                           <i class="fa fa-calendar-plus-o"></i>  <span>RESERVATIONS</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#">@Html.ActionLink("LIST", "List", "Reservation", new { area = "Reservation" }, null) </a></li>
                            <li><a href="#">@Html.ActionLink("RESERVE", "ReserveInitial", "Reservation", new { area = "Reservation" }, null)</a></li>
                        </ul>
                    </li>
                </ul>


                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @*            <!-- Content Header (Page header) -->
                   <section class="content-header">
                    <h1>
                        Page Header
                        <small>Optional description</small>
                    </h1>

                </section>
            *@
            <!-- Main content -->

            <section class="content container-fluid">
                @RenderBody()
                <!--------------------------
                | Your Page Content Here |
                -------------------------->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add A Vehicle</h4>
                            </div>
                            <div class="modal-body">
                                Choose Vehicle Type:
                                <br />
                                @Html.ActionLink("Office Type", "AddOfficeType", "Vehicle", new { area = "Vehicle" }, new { @class = "btn btn-default btn-large" })
                                @Html.ActionLink("Vendor Type", "AddVendorType", "Vehicle", new { area = "Vehicle" }, new { @class = "btn btn-primary btn-large" })
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->



    </div>
    <!-- <hr />
     <footer>
         <p>&copy; @DateTime.Now.Year</p>
     </footer>-->
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    @RenderSection("Jscripts", false)
</body>
</html>
