﻿@model VehicleReservation.ViewModels.ReservationViewModel



<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">End</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("ReserveEnd", "Reservation", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.DriverID)
        @Html.HiddenFor(model => model.VehicleID)
        @Html.HiddenFor(model => model.DateCreated)
        @Html.HiddenFor(model => model.DateTimeStart)
        @Html.HiddenFor(model => model.DateTimeEnd)
        @Html.HiddenFor(model => model.ActualDateTimeStart)
        @Html.HiddenFor(model => model.Reason)
        @Html.HiddenFor(model => model.ProjectID)
        @Html.HiddenFor(model => model.Location)
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.BorrowerLastName)
        @Html.HiddenFor(model => model.BorrowerFirstName)
        @Html.HiddenFor(model => model.IsActive)
        @Html.HiddenFor(model => model.OdometerStart)
        @Html.HiddenFor(model => model.BorrowerName)
        @Html.HiddenFor(model => model.BusinessUnit)
        @Html.HiddenFor(model => model.BusinessUnitID)


        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group control-label">
                            <label>
                                Actual Date/Time End
                            </label>
                        </div>
                        <div>
                            <div class="form-group">
                                <div class="input-group date" id="datetimepicker">
                                    @Html.EditorFor(model => model.ActualDateTimeEnd, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @readonly = "true" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.ActualDateTimeEnd, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    </div>

                <div class="col-md-6">

                    <div class="form-group">
                        <div class="form-group control-label">
                            <label>
                                Odometer End
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.OdometerEnd, new { htmlAttributes = new { @class = "form-control datepicker", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.OdometerEnd, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group control-label ">
                                <label>
                                    No. of Liters
                                </label>
                            </div>
                            <div>
                                @Html.EditorFor(model => model.Liters, new { htmlAttributes = new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "Leave blank if gas was not refilled" } })
                                @Html.ValidationMessageFor(model => model.Liters, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group control-label ">
                            <label>
                                Amount Paid 
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.AmountPaid, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "Leave blank if gas was not refilled" } })
                            @Html.ValidationMessageFor(model => model.AmountPaid, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group control-label">
                                <label>
                                    OR No.
                                </label>
                            </div>
                            <div>
                                @Html.EditorFor(model => model.ORNumber, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "Leave blank if gas was not refilled" } })
                                @Html.ValidationMessageFor(model => model.ORNumber, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group control-label">
                            <label>
                                Location Parked
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.LocationParked, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.LocationParked, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
                </div>
        </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button type="submit" id="approve-btn" class="btn btn-danger">Submit</button>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
    }
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Client Scripts/mvcfoolproof.unobtrusive.js"></script>

<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker({
            minDate: '@Model.DateTimeStart',
            daysOfWeekDisabled: [@Model.CodingDay],
            ignoreReadonly: true

            //format: 'YYYY-MM-DD HH:MM',
            //useCurrent: true
        });
    });
</script>

<style>
    .datetimepicker {
        z-index: 1600 !important;
    }
</style>

