﻿@model VehicleReservation.ViewModels.ReservationViewModel
    @{
        ViewBag.Title = "Choose Vehicle";
    }

    <h2>Choose Vehicle</h2>

    <div class="row">
        <div class="col-md-12">
            <div class="panel" style="margin-top: 3%; margin-bottom: 5%;">
                <div class="panel-heading">
                    <div class="panel-title">
                        </div>
                        <div class=" panel-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                @Html.HiddenFor(model => model.DriverID)
                                @Html.HiddenFor(model => model.DateCreated)
                                @Html.HiddenFor(model => model.DateTimeStart)
                                @Html.HiddenFor(model => model.Reason)
                                @Html.HiddenFor(model => model.ProjectID)
                                @Html.HiddenFor(model => model.Location)
                                @Html.HiddenFor(model => model.UserID)
                                @Html.HiddenFor(model => model.BorrowerLastName)
                                @Html.HiddenFor(model => model.BorrowerFirstName)
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group control-label">
                                                <label>
                                                    Vehicle
                                                </label>
                                            </div>
                                            <div id="Vehicle">
                                                @Html.DropDownList("VehicleID", null, "", htmlAttributes: new { @class = "form-control", @id = "VehicleID" })
                                                @* @Html.DropDownList("VehicleList", new SelectList(ViewBag.VehicleID, "VehicleID", "VehicleMake"), "Select Vehicle")*@


                                            </div>
                                        </div>
                                    </div>
<!--
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group control-label">
                                                <label>
                                                    Driver
                                                </label>
                                            </div>

                                            <div id="Driver">
                                                @* @Html.DropDownList("DriverID", null, "", htmlAttributes: new { @class = "form-control", @id = "DriverID" })*@
                                                @Html.DropDownList("DriverList", Enumerable.Empty<SelectListItem>(), "Select Driver")
                                                @Html.ValidationMessageFor(model => model.DriverID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
-->
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="submit" value="Next" class="btn btn-success" />
                                        @Html.ActionLink("Back To List", "List", null, new { @class = "btn btn-primary btn-large" })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
