﻿@model VehicleReservation.ViewModels.ReservationViewModel
@{
    ViewBag.Title = "Details";
}

@section Jscripts{

    @*<script type="text/javascript">
            $(function () {
                $("#DateReserved").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    format: "yyyy-MM-dd"

                }
                ).datepicker("setDate", new DateTime());
            });
        </script>*@

    <script type="text/javascript">
            $(function () {
                $('#datetimepicker').datetimepicker({
                    //format: 'YYYY-MM-DD HH:MM',
                    //useCurrent: true
                });
            });
    </script>



}
<input type="hidden" id="isactive"/>
<input type="hidden" id="iscomplete" />
<div class="row">
    <div class="col-md-12 ">
        <div class="panel" style="margin-top:3%; margin-bottom: 5%;">
            <div class="panel-heading">
                <div class="panel-title">
                </div>

                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Name
                                        </label>
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.BorrowerName, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Vehicle Type
                                        </label>
                                    </div>
                                    <div>
                                        @if (Model.VehicleTypeID == 1)
                                        {
                                        <div>Van (15-18 ppl)</div>;
                                        }
                                        @if (Model.VehicleTypeID == 2)
                                        {
                                            <div>SUV (max of 7 ppl)</div>
                                        }

                                        @if (Model.VehicleTypeID == 3)
                                        {
                                            <div>Sedan (max of 4 ppl)</div>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Location
                                        </label>
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @style = "width: 50%", @type = "text" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Project ID
                                        </label>
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.ProjectID, new { htmlAttributes = new { @class = "form-control", @style = "width: 50%", @type = "text" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Vehicle
                                        </label>
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.VehicleMakeLicense, new { htmlAttributes = new { @class = "form-control", @style = "width: 50%", @type = "text" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Driver
                                        </label>
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.DriverName, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                           Reserved Date/Time Start
                                        </label>
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.DateTimeStart, new { htmlAttributes = new { @class = "form-control", @style = "width: 50%", @type = "text" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Reserved Date/Time End
                                        </label>
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.DateTimeEnd, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Actual Date/Time Start
                                        </label>
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.ActualDateTimeStart, new { htmlAttributes = new { @class = "form-control", @style = "width: 50%", @type = "text" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Actual Date/Time End
                                        </label>
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.ActualDateTimeEnd, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Odometer Start
                                        </label>
                                    </div>
                                    <div>
                                        <div>
                                            @Html.DisplayFor(model => model.OdometerStart, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Odometer End
                                        </label>
                                    </div>
                                    <div>
                                        <div>
                                            @Html.DisplayFor(model => model.OdometerEnd, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                           Location Parked
                                        </label>
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.LocationParked, new { htmlAttributes = new { @class = "form-control", @style = "width: 50%", @type = "text" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Liters
                                        </label>
                                    </div>
                                    <div>
                                        @Html.DisplayFor(model => model.Liters, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Amount Paid for Gas
                                        </label>
                                    </div>
                                    <div>
                                        <div>
                                            @Html.DisplayFor(model => model.AmountPaid, new { htmlAttributes = new { @class = "form-control" } })
                                           @ViewBag.AmountPaid
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            OR Number
                                        </label>
                                    </div>
                                    <div>
                                        <div>
                                            @Html.DisplayFor(model => model.ORNumber, new { htmlAttributes = new { @class = "form-control" } })
                                       
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-group control-label">
                                            <label>
                                                Reason
                                            </label>
                                        </div>
                                        <div>
                                            @Html.DisplayFor(model => model.Reason, new { htmlAttributes = new { @class = "form-control", @type = "text", @rows = "5" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @Html.ActionLink("Edit", "ReserveInitial", Model.Id, new { @class = "btn btn-success btn-large" })
                                        @Html.ActionLink("Back To List", "List", null, new { @class = "btn btn-primary btn-large" })
                                    </div>
                                </div>
                    }


                </div>
            </div>

        </div>

    </div>




</div>
