﻿@model VehicleReservation.ViewModels.ReservationHistoryVM
@{
    ViewBag.Title = "List of Reservations";
}

@section Jscripts {
    

    @*<script>
        $('a.start').on('click', function () {
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#startModal').html(result).find('.modal').modal({
                        show: true
                    });
                }
            });

            return false;
        });

    </script>*@
<style>
    .modal-content {
        width: 600px !important;
        margin: 30px auto !important;
    }

    .datetimepicker{
        z-index: 1600 !important;
    }
</style>

<script type="text/javascript">
                $(function () {
                    $('body').on('click', '.modal-link', function (e) {
                        e.preventDefault();
                        $(this).attr('data-target', '#modal-container');
                        $(this).attr('data-toggle', 'modal');
                    });
                    //
                    $('body').on('click', 'modal-close-btn', function () {
                        $('#modal-container').modal('hide');
                    });

                    //
                    $('#modal-container').on('hidden.bs.modal', function () {
                        $(this).removeData('bs.modal');
                    });

                    //
                    $('#CancelModal').on('click', function () {
                        return false;
                    });
                });
</script>

    <script type="text/javascript">
            $(function () {
                $('#datetimepicker').datetimepicker({
                    //format: 'YYYY-MM-DD HH:MM',
                    //useCurrent: true
                });
            });
</script>

    <script type= "text/javascript">

    </script>

    
     }

<div class="row">
    <div class="col-md-12 ">
        <p style="text-align: right;">
            @Html.ActionLink("Make a Reservation", "ReserveInitial", null, new { @class = "btn btn-primary btn-large" })
        </p>
        <center>
            <div class="panel" style="margin-top:3%; margin-bottom: 5%;">
                <div class="panel-heading">
                    <div class="panel-title">
                    </div>

                    <div class="panel-body">
                        @if (ViewBag.Message != "")
                        {
                            <div class="text-danger">@ViewBag.Message</div>
                        }

                        <div class="table-responsive col-sm-12" style="overflow-y: scroll">
                            <table class="table">
                                <tr>
                                    <th>
                                        Name
                                    </th>

                                    <th>
                                        Vehicle
                                    </th>

                                    <th>
                                        Driver
                                    </th>

                                    <th>
                                        Location
                                    </th>

                                    <th>
                                        Reserved Date/Time
                                    </th>

                                    
                                    <th>
                                        Actions
                                    </th>

                                </tr>

                                @foreach (var item in Model.Reservations)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BorrowerName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehicleMakeLicense)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.DriverName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Location)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReservedDate)
                                        </td>


                                        <!--ACTIONS-->

                                        @if ((item.IsComplete == true) && (item.IsActive == false))
                                        {
                                            <td>
                                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                                            </td>

                                        }
                                        @if ((item.IsActive == false) && (item.IsComplete == false))
                                        {
                                            <td>
                                                @Html.ActionLink("Start", "ViewReserveStart", "Reservation", new { id = item.Id }, new { @class = "modal-link btn btn-success" })
                                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                                            </td>
                                        }
                                        @if ((item.IsActive == true) && (item.IsComplete == false))
                                        {
                                            <td>
                                                @Html.ActionLink("End", "ViewReserveEnd", "Reservation", new { id = item.Id }, new { @class = "modal-link btn btn-danger" })
                                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                                            </td>
                                        }
                                        @*<td id="complete">
                                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                                        </td>*@

                                        @*@Html.ActionLink("start", "reservestart", new  { id = item.Id }) |
                                        @Html.ActionLink("end", "reserveend", new { id = item.Id }) |*@
                                    </tr>
                                }

                            </table>

                        </div>


                    </div>

                    <div id="modal-container" class="modal fade"
                         tabindex="-1" role="dialog">
                        <div class="modal-content">
                        </div>
                    </div>

                </div>
            </div>
        </center>
    </div>




</div>
