﻿@model VehicleReservation.ViewModels.ReservationViewModel
@{
    ViewBag.Title = "Reserve a Vehicle";
}

@section Jscripts{

    <style>
        .for-verifier{
            display:none;
        }
    </style>

    <script type="text/javascript">
        var jsonDates;
        var jsonCoding;
        var jsonDriver;
        var url_data;

        $(document).ready(function () {

            //if (jsonCoding != "")
            //{
            //    var parseJson = JSON.parse(jsonCoding);
            //    coding = parseJson[0].CodingDay;

            //}

            $('#datetimepicker').datetimepicker(
                {
                    minDate: moment(),
                    ignoreReadonly: true
                    //daysOfWeekDisabled: [0]
                    //daysOfTheWeek: [coding]
                });





            $('#datetimepicker2').datetimepicker({
                useCurrent: false, //Important! See issue #1075
                ignoreReadonly: true
            });
            $("#datetimepicker").on("dp.change", function (e) {
                $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                var date = new Date(e.date);

                var startDate = ((new Date(date)).getTime()) / 1000;

                if (jsonDates != "") {
                    var parseJson = JSON.parse(jsonDates);
                    var appendDates = "<b>You can't reserve on the following dates/times:</b>";
                    $.each(parseJson, function (i, item) {
                        var sd = parseJson[i].DateTimeStart;
                        var sdcon = ((new Date(sd)).getTime()) / 1000;
                        var ed = parseJson[i].DateTimeEnd;
                        var edcon = ((new Date(ed)).getTime()) / 1000;

                        console.log(sdcon + " " + startDate + " " + edcon);

                        appendDates += "<br /><i style='color: red;'>" + new Date(sd).toGMTString() +
                            " - " + new Date(ed).toGMTString() + "</i><br>";

                        if (startDate >= sdcon && startDate <= edcon) {
                            var modal = $('#reserveddatesmodal');
                            modal.modal('show');
                            modal.find('.modal-title').html(parseJson[i].VehicleMake + " - " + parseJson[i].PlateNumber)
                            modal.find('.modal-body').html(appendDates);

                            $('#datetimepicker').data("DateTimePicker").clear();
                        }
                    })
                }

                //if (jsonDriver != "") {
                //    var parseJson = JSON.parse(jsonDriver);
                //    var appendDates = "<b>Driver is not avaiable on the following dates/times:</b>";
                //    $.each(parseJson, function (i, item) {
                //        var sd = parseJson[i].DateTimeStart;
                //        var sdcon = ((new Date(sd)).getTime()) / 1000;
                //        var ed = parseJson[i].DateTimeEnd;
                //        var edcon = ((new Date(ed)).getTime()) / 1000;

                //        console.log(sdcon + " " + startDate + " " + edcon);

                //        appendDates += "<br /><i style='color: red;'>" + new Date(sd).toGMTString() +
                //            " - " + new Date(ed).toGMTString() + "</i><br>";

                //        if (startDate >= sdcon && startDate <= edcon) {
                //            var modal = $('#reserveddatesmodal');
                //            modal.modal('show');
                //            modal.find('.modal-title').html(parseJson[i].Name)
                //            modal.find('.modal-body').html(appendDates);

                //            $('#datetimepicker').data("DateTimePicker").clear();
                //        }
                //    })
                //}
            });
            $("#datetimepicker2").on("dp.change", function (e) {
                $('#datetimepicker').data("DateTimePicker").maxDate(e.date);

                var date = new Date(e.date);

                var endDate = ((new Date(date)).getTime()) / 1000;

                if (jsonDates != "") {
                    var parseJson = JSON.parse(jsonDates);

                    $.each(parseJson, function (i, item) {
                        var sd = parseJson[i].DateTimeStart;
                        var sdcon = ((new Date(sd)).getTime()) / 1000;
                        var ed = parseJson[i].DateTimeEnd;
                        var edcon = ((new Date(ed)).getTime()) / 1000;

                        console.log(sdcon + " " + endDate + " " + edcon);

                        if (endDate >= sdcon && endDate <= edcon) {
                            var modal = $('#reserveddatesmodal');
                            modal.modal('show');
                            modal.find('.modal-title').html(parseJson[i].VehicleMake + " - " + parseJson[i].PlateNumber)
                            modal.find('.modal-body').html(appendDates);

                            $('#datetimepicker2').data("DateTimePicker").clear();
                        }

                    })
                }

                //if (jsonDriver != "") {
                //    var parseJson = JSON.parse(jsonDriver);
                //    var appendDates = "<b>Driver is not avaiable on the following dates/times:</b>";
                //    $.each(parseJson, function (i, item) {
                //        var sd = parseJson[i].DateTimeStart;
                //        var sdcon = ((new Date(sd)).getTime()) / 1000;
                //        var ed = parseJson[i].DateTimeEnd;
                //        var edcon = ((new Date(ed)).getTime()) / 1000;

                //        console.log(sdcon + " " + startDate + " " + edcon);

                //        appendDates += "<br /><i style='color: red;'>" + new Date(sd).toGMTString() +
                //            " - " + new Date(ed).toGMTString() + "</i><br>";

                //        if (startDate >= sdcon && startDate <= edcon) {
                //            var modal = $('#reserveddatesmodal');
                //            modal.modal('show');
                //            modal.find('.modal-title').html(parseJson[i].Name)
                //            modal.find('.modal-body').html(appendDates);

                //            $('#datetimepicker').data("DateTimePicker").clear();
                //        }
                //    })
                //}


            });


            $('#VehicleID2').change(function () {
                //var v = $(this).val();
                var vehdrv = ($('#VehicleID2 :selected').val());
                //if (v == "0") {
                //    return;
                //}
                var val = vehdrv.split("_");
                var drvid = val[1];
                var vehid = val[0];
                //var drvid = vehdrv.split("_").pop();
                //var vehid = vehdrv.split("_")[0];
                //$('#VehicleID :selected').val(vehid);
                //alert($('#VehicleID :selected').val());

                if (drvid == "0") {
                    //console.log(vehid + "= no driver");
                    //$('#DriverID').find("option").show().not("option[value*='" + drvid + "']").hide();
                    //$("#DriverID").val(drvid);
                    //$("#DriverID").val(
                    //    $("#DriverID").find("option:visible:first").val())
                    $("#DriverID > option").each(function () {
                        $(this).show();
                    });
                }
                else {
                    //console.log(vehid + "= with driver " + drvid);
                    $("#DriverID > option").each(function () {
                        var option_val = $(this).val();
                        if (option_val != drvid) {
                            $(this).hide();
                        }
                    });
                    //$("#DriverID").find("option:visible:first").val())
                }
                $("#DriverID").val(drvid)
                //$("#VehicleID").val(vehid);
                $("#VehicleID").val(vehid);

                //checkDriver(drvid);
                checkCodingDay(vehid);

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("checkVehicle", "Reservation")',
                    data: { "VehicleID": vehid },
                    dataType: 'json',
                    success: function (data) {
                        var json = JSON.stringify(data);

                        jsonDates = json;
                        //var parseJson = JSON.parse(json);
                        //dts = parseJson[i].DateTimeStart;
                        //dte = parsesJson[i].DateTimeEnd;

                        //$.each(data, function (i, item) {
                        //    console.log(parseJson[i].DateTimeStart + " " + parseJson[i].DateTimeEnd);
                        //})

                        //console.log("Dates: " + StartDates);
                        //daysOfWeekDisabled(coding);
                    },
                    //error: function (emp) {
                    //    alert('error');
                    //}
                });

                @*$.ajax({
                    type: 'GET',
                    url: '@Url.Action("checkDriver", "Reservation")',
                    data: { "DriverID": drvid },
                    dataType: 'json',
                    success: function (data) {
                        var json = JSON.stringify(data);

                        jsonDriver = json;
                    },
                });*@


                @*$.ajax({
                    type: 'GET',
                    url: '@Url.Action("checkVehicle", "Reservation")',
                    data: { "VehicleID": vehid },
                    dataType: 'json',
                    success: function (data) {
                        var json = JSON.stringify(data);

                        jsonDates = json;
                    },
                });*@


            }).trigger("change");


        });



        function checkCodingDay(vid) {
            /////
            $.ajax({
                type: 'GET',
                url: '@Url.Action("checkCodingDay", "Reservation")',
                data: { "VehicleID": vid },
                dataType: 'json',
                success: function (data) {
                    var json = JSON.stringify(data);

                    jsonCoding = json;

                    var coding = JSON.parse(json);
                    console.log(coding[0].CodingDay);
                    updateDatePicker(coding[0].CodingDay);



                },
                //error: function (emp) {
                //    alert('error');
                //}
            });
        }

        function updateDatePicker(coding) {
            //$('#datetimepicker').datetimepicker('destroy');
            //$('#datetimepicker').datetimepicker({
            //    minDate: moment(),
            //    daysOfWeekDisabled: [coding]
            //});

            //var options = {
            //    minDate: moment(),
            //    daysOfWeekDisabled: [coding]

            $('#datetimepicker').data("DateTimePicker").daysOfWeekDisabled([coding])
            $('#datetimepicker2').data("DateTimePicker").daysOfWeekDisabled([coding])

            //};
            //element.data('DateTimePicker').options(eval(scope.options));
        }

            $('#iUsers').select2().change(function () {
                buid = ($(this).find(':selected').data('buid'));
                buname = ($(this).find(':selected').data('buname'));
                name = ($(this).find(':selected').data('name'));


                $("#BusinessUnitID").val(buid);
                $("#BusinessUnit").val(buname);
                $("#Name").val(name);

            });


    </script>

    <script type="text/javascript">
       
        $(function () {
            url_data = document.URL.split('/');
            if (isNaN(url_data[url_data.length - 1])) {
                
            }
            else
            {
                $.ajax({
                    url: "/Reservation/reservation_details/" + url_data[url_data.length - 1],
                    type: "POST",
                    success: function (data) {
                        console.log(data);
                    }
                });
            }
        });
    </script>

    @*<script type="text/javascript">
            $(document).ready(function () {
                $('#button').click(function () {
                    var vehdrv = ($('#VehicleID :selected').val());
                    var vehid = vehdrv.split("_")[0];

                    alert(vehid);
                });
            });

        </script>*@

    @*<script>
            $(document).on('change', '#VehicleList', function () {
                var url = '@Url.Action("GetDriverInt",  "ReservvationController")';
                var drivers = $('#DriverList');
                var id = $(this).val();

                $.getJSON(url, { rID: id }, function (response) {
                    drivers.empty();
                    $.each(response, function (index, item) {
                        drivers.append($('<option></option>').text(item.DriverLastName + ", " + item.DriverFirstName).val(item.DriverID));

                    });
                });
            });
        </script>*@


}
<div class="row">
    <div class="col-md-12 ">
        <div class="panel" style="margin-top:3%; margin-bottom: 5%;">
            <div class="panel-heading">
                <div class="panel-title">
                </div>

                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-12">
                            @*<div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-group control-label">
                                            <label>
                                                Last Name
                                            </label>
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.BorrowerLastName, new { htmlAttributes = new { @class = "form-control", @type = "text", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.BorrowerLastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-group control-label">
                                            <label>
                                                First Name
                                            </label>
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.BorrowerFirstName, new { htmlAttributes = new { @class = "form-control", @type = "text", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.BorrowerFirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-group control-label">
                                            <label>
                                                User ID
                                            </label>
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control", @style = "width: 50%", @type = "text", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>*@

                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Name
                                        </label>
                                    </div>
                                    <select id="iUsers" name="UserID" style="width: 100%">
                                        @foreach (var item in Model.Users)
                                        {

                                            <option value="@item.UserID" data-buid="@item.BusinessUnitID" data-buname="@item.BusinessUnit"
                                                    data-name="@item.Name">
                                                @item.Name
                                            </option>

                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                                </div>

                                @Html.HiddenFor(model => Model.ModifiedBy)
                                @Html.HiddenFor(model => Model.RequestedBy)
                                @Html.HiddenFor(model => Model.BusinessUnitID, new { @id = "BusinessUnitID" })
                                @Html.HiddenFor(model => Model.BorrowerName, new { @id = "Name" })
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                           Vehicle Type
                                        </label>
                                    </div>
                                    <div>
                                        @Html.DropDownListFor(a => a.VehicleTypeID, new SelectList(
                                         new List<Object>
                                            {
                                            new {value = "1", text = "Van (15-18 ppl)" },
                                            new {value = "2", text = "SUV (max of 7 ppl)" },
                                            new {value = "3", text = "Sedan (max of 4 ppl)" }
                                            },
                                            "value", "text", 1
                                            ),
                                        new { @class = "form-control", @id = "VehicleTypeID" })
                                        @Html.ValidationMessageFor(model => model.VehicleType, "", new { @class = "text-danger", @autocomplete = "off" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Project ID
                                        </label>
                                    </div>
                                    <div>
                                        @Html.EditorFor(model => model.ProjectID, new { htmlAttributes = new { @class = "form-control", @type = "text", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 for-verifier">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Vehicle
                                        </label>
                                    </div>
                                    <div id="Vehicle">
                                        @Html.DropDownList("VehicleID2", null, "", htmlAttributes: new { @class = "form-control for-verifier", @id = "VehicleID2" })
                                        @Html.ValidationMessageFor(model => model.VehicleID, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.VehicleID, new { @id = "VehicleID" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 for-verifier">
                                <div class="form-group">
                                    <div class="form-group control-label">
                                        <label>
                                            Driver
                                        </label>
                                    </div>
                                    <div id="Driver">
                                        @Html.DropDownList("DriverID", null, "", htmlAttributes: new { @class = "form-control for-verifier", @id = "DriverID" })
                                        @Html.ValidationMessageFor(model => model.DriverID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>

                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group control-label">
                                                <label>
                                                    Select Reserve Start Date/Time
                                                </label>
                                            </div>
                                            <div>
                                                @*@Html.EditorFor(model => model.DateTimeStart, new { htmlAttributes = new { @class = "form-control time", @id = "datereserved", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.DateTimeStart, "", new { @class = "text-danger" })*@
                                                <div class="form-group">
                                                    <div class="input-group date" id="datetimepicker">
                                                        @Html.EditorFor(model => model.DateTimeStart, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @readonly = "true" } })
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.DateTimeStart, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group control-label">
                                                <label>
                                                    Select Reserve End Date/Time
                                                </label>
                                            </div>
                                            <div>
                                                @*@Html.EditorFor(model => model.DateTimeStart, new { htmlAttributes = new { @class = "form-control time", @id = "datereserved", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.DateTimeStart, "", new { @class = "text-danger" })*@
                                                <div class="form-group">
                                                    <div class="input-group date" id="datetimepicker2">
                                                        @Html.EditorFor(model => model.DateTimeEnd, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @readonly = "true" } })
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.DateTimeEnd, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group control-label">
                                                <label>
                                                    Meet-up Place
                                                </label>
                                            </div>
                                            <div>
                                                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @type = "text", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="form-group control-label">
                                                <label>
                                                    Number of Passenger
                                                </label>
                                            </div>
                                            <div>
                                                @Html.EditorFor(model => model.NumberofPassenger, new { htmlAttributes = new { @class = "form-control", @type = "number", @style="width:100px;" } })
                                                @Html.ValidationMessageFor(model => model.NumberofPassenger, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="form-group control-label">
                                                <label>
                                                    Purpose
                                                </label>
                                            </div>
                                            <div>
                                                @Html.EditorFor(model => model.Reason, new { htmlAttributes = new { @class = "form-control", @type = "text", @rows = "5", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="submit" value="Reserve" class="btn btn-success" />
                                        @Html.ActionLink("Back To List", "List", null, new { @class = "btn btn-primary btn-large" })
                                    </div>
                                </div>

                    }
                </div>
            </div>

        </div>

    </div>

    <!--Modal-->
    <div class="modal fade" id="reserveddatesmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add A Vehicle</h4>
                </div>
                <div class="modal-body">


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
